@model VehicleRenting.UI.Models.LoginModel
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Account/_AuthLayout.cshtml";
}

<script src="~/js/login/login.js"></script>

<div class="auth-container mt-5">
    <div class="auth-card p-4 shadow-lg text-white" style="width: 380px;">
        <h3 class="text-center mb-4 fw-semibold">Oturum Aç</h3>
        <form asp-action="Login" method="post" id="loginForm">
            <div class="mb-3">
                <label class="form-label text-light">Kullanıcı Adı</label>
                <input asp-for="Username" class="form-control bg-transparent text-light border-light" placeholder="Kullanıcı adınızı girin" />
            </div>
            <div class="mb-3">
                <label class="form-label text-light">Şifre</label>
                <input asp-for="Password" type="password" class="form-control bg-transparent text-light border-light" placeholder="••••••••" />
            </div>
            <button type="submit" class="btn btn-light fw-semibold w-100">Giriş Yap</button>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="text-danger mt-3 small text-center">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
        </form>
        <h5>Admin => Kullanıcı: admin ; Şifre :  1234</h5>
        <div class="text-center mt-3">
            <small>Hesabınız yok mu? <a href="/Account/Register" class="text-info text-decoration-none">Kayıt Ol</a></small>
        </div>
    </div>
</div>

